*.pyc
__pycache__
.idea/*
examples/Report/*
testfile
opensourcetest/httpmodel/Report
opensourcetest/httpmodel/.pytest_cache
tests/.pytest_cache
site
site.zip
opensourcetest/uimodel/.pytest_cache
opensourcetest/uimodel/Report
opensourcetest/appmodel/.pytest_cache
opensourcetest/appmodel/Report
dist